<% action = (from_user) ? users_url : session_url %>
<% other_action = (!from_user) ? new_user_url : new_session_url %>
<% button_text = (from_user) ? "Create Account" : "Log In"%>
<% other_text = (!from_user) ? "Create Account" : "Log In"%>
<% header = (from_user) ? "" : "" %>

<nav class="navbar navbar-inverse navbar-fixed-top" style="height: 52px">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="<%= root_url  %>">
				<%= image_tag('planet-saturn.png', size: "50x50", alt: "ELI5ience Home")  %>
			</a> 
		</div>
	</div>
</nav> <br>

<header>
	<%= link_to "Create Account", new_user_url %>
	<%= link_to "Article List", root_url %>
	<%= link_to "Log In", new_session_url %>
</header>

<div class="container">



	<h4 class="create-login-cont index-title"> <%= button_text %>! or <%= link_to other_text, other_action %>
		<div class="login-box">
		<form class="form-signin" action="<%= action %>" method="POST">
			<h2 class="form-signin-heading"><%= header %></h2>
			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
			<label for="inputEmail" class="sr-only" >Username
			</label>
			<input type="text"
				id="inputEmail"
				class="form-control"
				placeholder="Username"
				name="user[username]"
				value="<%=@user.username%>">

			<br>

			<% if from_user %>
				<label for="inputExpertise" class="sr-only">Expertise
				</label>
				<input type="text"
					id="inputExpertise"
					class="form-control"
					placeholder="Expertise Eg: Engineering"
					required autofocus
					name="user[expertise]"
					value="<%=@user.expertise%>">
					<br>
			<% end %>

			<label for="inputPassword" class="sr-only">Password
			</label>
			<input type="password"
				id="inputPassword"
				class="form-control"
				placeholder="Password"
				name="user[password]"
				value="<%=@user.password%>">
			<br>
			<input type="submit" class="btn btn-primary" value="<%= button_text %>">
		</form>

		<form class="guest-button" action=" <%= session_url %>" method="POST">
			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

			<input type="hidden" value="guest_user" name="user[username]">

			<input type="hidden" value="guestguest" name="user[password]">

			<input type="submit" class="btn btn-default" class="guest-submit" value="Log In as Guest">

		</form>
	</div>
</h4>
</div>

<% if flash[:errors] && !current_user %>
  <div class="acct-errors">
    <% flash[:errors].each do |error| %>
      <p><b><%= error %></b></p>
    <% end %>
  </div>
<% end %>
