<% action = (from_user) ? users_url : session_url %>
<% button_text = (from_user) ? "Create Account" : "Log In"%>
<% header = (from_user) ? "" : "" %>

<nav class="navbar navbar-inverse navbar-fixed-top" style="height: 52px">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="<%= root_url  %>">
				<img border="0" alt="ELI5ience" src="/assets/planet-saturn.png" width="50" height="50">
			</a> 
		</div>
	</div>
</nav> <br>

<header>
	<%= link_to "Create Account", new_user_url %>
	<%= link_to "Article List", root_url %>
	<%= link_to "Log In", new_session_url %>
</header>

<div class="container">

	<form class="form-signin" action="<%= action %>" method="POST">
		<h2 class="form-signin-heading"><%= header %></h2>
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<label for="inputEmail" class="sr-only" >Username
		</label>
		<input type="text"
			id="inputEmail"
			class="form-control"
			placeholder="Username"
			required autofocus
			name="user[username]"
			value="<%=@user.username%>">

		<% if from_user %>
			<label for="inputExpertise" class="sr-only">Expertise
			</label>
			<input type="text"
				id="inputExpertise"
				class="form-control"
				placeholder="Expertise Eg: Engineering"
				required autofocus
				name="user[expertise]"
				value="<%=@user.expertise%>">
		<% end %>

		<label for="inputPassword" class="sr-only">Password
		</label>
		<input type="password"
			id="inputPassword"
			class="form-control"
			placeholder="Password"
			required autofocus
			name="user[password]"
			value="<%=@user.password%>">
		<br>
		<input type="submit" class="btn btn-primary" value="<%= button_text %>">
		<form class="guest-button" action=" <%= session_url %>" method="POST">
			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

			<input type="hidden" value="guest_user" name="user[username]">

			<input type="hidden" value="guestguest" name="user[password]">

			<input type="submit" class="btn btn-default" class="guest-submit" value="Log In as Guest">

		</form>
	</form>
	

</div>


<% if flash[:errors] && !current_user %>
  <div class="errors">
    <% flash[:errors].each do |error| %>
      <p><b><%= error %></b></p>
    <% end %>
  </div>
<% end %>
