<!DOCTYPE html>
<html>
<head>
  <title>ELI5ience</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!--TODO: user login/logout links  -->

  <%= flash[:errors].join("<br>").html_safe if flash[:errors] %>

<%= yield %>


  <%= javascript_include_tag 'application' %>
</body>
</html>
