<!DOCTYPE html>
<html>
<head>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application' %>

  <title>ELI5ience</title>

</head>
<body>

  <%= flash[:errors].join("<br>").html_safe if flash[:errors] %>

  <%= yield %>
  <footer class="navbar navbar-fixed-bottom">
    <p>
      <a class="footer-github" href="https://github.com/JustFocus">
				<%= image_tag('GitHub_Logo.png', size: "80x32", alt: "Checkout my GitHub!")  %>
			</a> 
      <span class='footer-name'>
        2016 Colin McMahon
      </span>
    </p>
  </footer>


</body>
</html>
